<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="{{ site.url }}/blog" class="btn">Anterior</a>
    {% else %}
      <a href="{{ site.url }}/blog/page{{ paginator.previous_page }}" class="btn">Anterior</a>
    {% endif %}
  {% else %}
    Anterior
  {% endif %}
  <ul class="inline-list">
    <li>
      {% if paginator.page == 1 %}
        <span class="current-page">1</span>
      {% else %}
        <a href="{{ site.url }}/blog">1</a>
      {% endif %}
    </li>
    {% for count in (2..paginator.total_pages) %}
      <li>
        {% if count == paginator.page %}
          <span class="current-page">{{ count }}</span>
        {% else %}
          <a href="{{ site.url }}/blog/page{{ count }}">{{ count }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% if paginator.next_page %}
    <a href="{{ site.url }}/blog/page{{ paginator.next_page }}" class="btn">Próxima</a>
  {% else %}
    Próxima
  {% endif %}
</div><!-- /.pagination -->
